@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body{
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
}

.image-welcome{
  background:
  url("../img/index/welcome.svg") no-repeat center,
  url("../img/index/divider.svg") no-repeat bottom center,
  url("../img/index/index-background.jpg") no-repeat;
  height: 485px;
  width: 1200px;
}

.sending-message-background{
  background: url("../img/index/blur-background.jpg") no-repeat;
  background-size: cover;
  background-color: #83B3D3;
  color: #fff;
}

.visually-hidden{
  visibility: hidden;
}

.navigation-link{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: black;
  text-decoration: none;
}

.description-sedona{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.sedona-is-better{
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantage-item{
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item:not(.advantage-item-large):nth-child(even){
  background: rgba(131, 179, 211, 0.2);
}

.advantage-item-large {
  color: #fff;
  background: #83B3D3;
}

.advantage-list-inner, .advantage-list-inner .advantage-item:nth-child(even) {
  background: #FFF;
  color: #000;
}

.advantage-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-description{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.interesting-question{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-offers{
  font-size: 22px;
  line-height: 26px;
  font-weight: inherit;
}

.button{
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: inherit;
}

.button-blue{
  background-color: #83B3D3;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: inherit;
}

.sending-message-title{
  text-transform: uppercase;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
}

.sending-message-description{
  font-weight: inherit;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button{
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  background-color: #83B3D3;
}

.e-mail-string{
  background-color: #f2f2f2;
  font-size: 18px;
}

.phone-number{
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color:#000;
}

/*catalog*/

.hotel-image{
  width: 300px;
  height: 206px;
}

.main-header{
  background: url("/img/catalog/catalog-background.jpg");
  background-size: cover;
  background-color: #83B3D3;
  color: #FFF;
}

.catalog-header{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link{
font-size: 16px;
line-height: inherit;
}

.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-label{
  font-size: 18px;
  line-height: 23px;
}

.accept-button{
  font-weight: 700;
  font-size: 16px;
}

.reset-button{
  background-color: transparent;
  border: 0;
  color:#FFF;
  font-family: inherit;
  font-size: 18px;
}

.large-text, .less-text{
  background-color: transparent;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.range-title{
  font-size: 18px;
  line-height: 23px;
  color:#FFF;
  opacity: 0.3;
}

.hotel-quantity{
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.hotel-button-more, .hotel-button-elected{
  font-weight: 700;
  font-size: 16px;
}

.hotel-card-link{
  text-decoration: none;
}

.hotel-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000;
}

.description-card-type, .description-card-defenition{
  font-weight: inherit;
  font-size: inherit;
  line-height: 23px;
}

.hotel-rating{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.load-more{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.page-item-link{
  color: #fff;
text-decoration: none;
background-color: #83B3D3;
font-size: 20px;
font-weight: 700px;
line-height: 26px;
}
